.main1 {
    width: 900px;
    position: relative;
}
.logo1{
    position: absolute;
    top: 50px;
    left: 39%;
}
.logo1 img{
    width: 230px;
    height: auto;
}
.login-content{
    width: 800px;
    height: 575px;
    background-color: #00000087;
    position: absolute;
    top: 130px;
    left: 10%;
    text-align: center;
}

.title-2{
    color: white;
    text-align: left;
    margin-left: 68px;
    margin-top: 29px;
}
#loginForm{
    margin-top: 30px;
}
.froms-group input{
    width: 330px;
    height: 51px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 4px;

}
.froms-group{
    font-size: 15px;
    display: inline-grid;
    margin-bottom: 15px;
    margin-right: 15px;
}

#log-in{
    margin-top: 10px;
    width: 700px;
    padding: 12px;
    background: #e60a17;
    color: white;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 50px;
    border: aliceblue;
    font-weight: 600;
    font-size: 15px;
}
#log-in:hover {
    opacity: 0.7;
}
.signin-socia{
    text-align: center;    
}
.text-1{
    color: white;
    font-size: 14px;
    margin-right: 10px;
}
.div-text1{
    margin:20px 0;    
}
.text-2{
    color: #e60a17;
    font-weight: bold;
    font-size:14px; 
}
.text-2:hover{
    text-decoration: underline;
}
.div-text2{
    padding-top: 10px;
}
.fa-brands{
    font-size: 20px;
}
.icon-signin{
    cursor:pointer;
}
.icon-signin{
    padding: 7px; 
    background-color: transparent;
    color: wheat;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.icon-signin:hover{
    background: #e60a17;
    color: wheat;
    border: 0;

}
.div-text1 a{
    color:white;
}
.froms-1:hover{
    border: 1px solid #e60a17 ;
}
 .froms-input:focus {
    border-color: #f23037;
    border-right-width: 1px;
    outline: 0;}
@media only screen and (max-width: 46.1875em) {
    .header {
       
    }
    .login {
        padding: 10px;
    }
    .login-content{
        width: 300px;
        height: 400px;
        top: 120px;
    }
    .logo1 {
        position: absolute;
        left: 21%;  
        top: 45px;  
    }
    .logo1 img {
        width: 200px;
        }
    .froms-1 {
        width: 230px !important;
        margin-left: -14px;
        }
    #log-in  {
         width: 230px;
        }
    .icon-signin {
         margin-left: 8px;
    }
}
    @media only screen and (min-width: 46.25em) and (max-width: 64em){
        .header {
            width: 881px;
        }
        .login-content {
            left: 5%;
        }
        .warper {
            width: 900px;
        }
    }
